PORT=4000
JWT_SECRET=eventmart_v4_is_going_to_change_2028_to_something_bigger_than_the_world
BCRYPT_SALT_ROUNDS=10
FRONTEND_URL=http://localhost:5173

PGHOST=TrJVbVJsYWbHYcqcYoUIVMboorkdpplG
PGPORT=5432
PGDATABASE=railway
PGUSER=postgres
PGPASSWORD=TrJVbVJsYWbHYcqcYoUIVMboorkdpplG

OPENAI_API_KEY= 
OPENAI_MODEL=gpt-4o-mini
OPENAI_BASE_URL=https://api.openai.com/v1

CLOUDINARY_URL=cloudinary://298482669944651:3dyG-caNzQPlXQk7g_OfkCzbSW0@dyuppcd7u
CLOUDINARY_CLOUD_NAME=dyuppcd7u
CLOUDINARY_API_KEY=298482669944651
CLOUDINARY_API_SECRET=3dyG-caNzQPlXQk7g_OfkCzbSW0
CLOUDINARY_PRODUCT_IMAGE_FOLDER=eventmart/products
